# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Migraciones de Django
*/migrations/
**/migrations/


# Assets
node_modules/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# Static files recolectados
staticfiles/

# Testing / coverage / reports
.pytest_cache/
.coverage
htmlcov/
reporte_*.html


# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Empaquetado
*.egg-info/
